.Memo {
    font-size: 1rem;
    border-radius: 10px;
    margin: 5px;
    padding: 5px;
    background-color: yellow;
  }



  .Memo-button {
    background: none;
    width: 45px;
    height: 25px;
    margin-left: 5px;
    border-radius: 10px;
    box-shadow: 1px 1px gray;
    background-color: rgb(223, 223, 223);
    transition: all 200ms ease-in-out;
  }

.Memo-modify {
    width: 100%;
    height: 75px;
    display: none;
    flex-direction: column;
}

.Memo-real {
  display: flex;
  flex-direction: column;
}

.Memo-real:nth-child(n) {
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 5px;
  border-radius: 10px;
}

.MemoTitle {
  background-color: ivory;
  margin-bottom: 5px;
  border: 2px solid rgb(96, 107, 252);
  border-radius: 5px;
}

.MemoDesc {
  background-color: rgb(255, 255, 223);
  border: 2px solid rgb(96, 107, 252);
  border-radius: 5px;
  margin-bottom: 5px;
}

.Memo-etc {
  display: flex;
}

.MemoVideoTime {
  margin-left: 10px;
  color: rgb(105, 105, 252);
}


  a:link, a:visited, a:hover {
      text-decoration: none;
  }

  